.contact--containers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 5rem;
}
.contact--containers figure{
    height: 60vh;
    width: 40vh;
    background-color: white;
    padding:1rem;
    border: 0.5px solid whitesmoke;
    border-radius: 1rem;
    box-shadow:  0 0px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact--containers-inside{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background:linear-gradient(to right, #9966ff 0%, #66ff99 100%) ;
}
.contact-title{
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-title h1{
    margin-top: 1rem;
    color: white;
}
.contact-paraf{
  background-color: whitesmoke;
  height: 65%;
  text-align: center;
  padding: 5rem 2rem;
}
.contact-paraf p{
    font-size: medium;
    color: gray;
}
.contact-sembol{
    position: absolute;
    top: -20%;
    right: 25%;
    background: linear-gradient(to right, #9966ff 0%, #66ff99 100%);
    border-radius: 50%;
    width: 50%;
    height: 30%;
    border: 5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.space-contact{
    height: 20vh;
    padding-top: 3rem;
}
.space-contact h1{
    text-align: center;
    color: rgb(47, 148, 243);
}
.container--maps iframe{
    height: 60vh;
}
