@import url('https://fonts.google.com/share?selection.family=Roboto:wght@100');
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLE */
body{
    font-size: 1.5rem;
    min-height: 100vh;
    font-family: Roboto,sans-serif;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*NAVBAR*/
.navbar{
    position:fixed;
    z-index: 3;
    width: 40vh;
    height: 100vh;
    background: linear-gradient(to right,#4484ce,#00FFFF);
    transform: translateX(-1000px);
    transition: 1s ease-out;
}
.navbar__container ul{ 
   list-style-type: none;
   margin-top: 1rem;
}
.navbar__container ul li{ 
    padding: 2rem 3rem;
 }
.navbar__container ul li a{
    text-decoration: none;
    color: white;
}
.navbar__container ul li:hover{
    background-color: #0C0A3E;
    transition: 1s ease-in-out;
}
.navbar.active{
 transform: translateX(0);
 transition: 1s linear;
}

/* HEADER */
header{
    position: sticky;
    top: 0;
    z-index: 2;
}
/* HEADER FİRST BAR */
.header__contact{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10vh;
}
.header__contact--element{
    padding: 0;
    gap: 1rem;
}
/* HEADER SECOND BAR */
.header__navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 1rem 4rem;
    background: linear-gradient(#4484ce,#00FFFF) ;
}
.header__navbar--list ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 3rem;
}
.header__navbar--ul li a{
    font-size: x-large;
    color: aliceblue;
    text-decoration: none;
}
.header__navbar--ul li a:hover{
    font-size: x-large;
    color: #02C3BD;
}
#header__navbar--btn_list{
    display: none;
}

.header__navbar--icon img{
    height: auto;
}
/* MAİN ELEMENT */
.main{
    display: flex;
    flex-direction: column;
}
.main section{
    text-align: center;
}
.main__container{
    background-color: white;
    height: 60vh;
}
.main__space{
    height: 3vh;
}
/* MAİN 1.CONTAİNER*/
.container--first{
    height: auto;
}
.container--first-slider{
    width: 100%;
    overflow: hidden;
}
.container--first-images{
    width: 300%;
    display: flex;
    flex-direction: row;
    position:relative;
    right: 0;
    transition: 1s ease-in-out;
    position: relative;
}
.slider-image{
    width: 100%;
    height: 100%;
    position: relative;
}
.container--first-images img{
    width: 100%;
    height: 100%;
}
.slider-section{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    z-index: 2;
}
.container--comment{
    height: auto;
    padding: 5rem;
}
.container--comment-slider{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.container--comment-images{
    width: 300%;
    height: 100%;
    display: flex;
    flex-direction: row;
    right: 0;
    transition: 1s ease-in-out;
    position: relative;
}
.container--comment-images img{
    width: 100%;
    height: 100%;
}
/* MAİN 2. CONTAİNER*/
.container--about{
    display: flex;
    flex-direction: row;
}
.container--about img{
    padding: 2rem;
    width: 40%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 1rem;
   }
.container--about-paraf{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.container--about-btn{
    background-color: aquamarine;
    padding: 1rem 2rem;
    border-radius: 3rem;
    font-size: medium;
    color: white;
    margin: 1rem;
}
.container--about-btn:hover{
    background-color: white;
    color: aquamarine;
    border: 2px solid aquamarine;
}
.header__navbar--icon img{
    width: 25vh;
    height: 10vh;
    border-radius: 1rem;
}
.header__navbar--btn{
    background-color: aliceblue;
    padding: 1px 3px;
    border-radius: 5px;
}
.container--about-paraf-alt{
 font-size: medium;
 color: gray;
}
/* 3. CONTAİNER */
.container--selector{
 height: 30vh;
 padding: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #0C0A3E;
}
.container--selector-list-element i{
    margin-right: 1rem;
}
.container--selector-list{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 1rem;
}
.container--selector-list-element{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #02C3BD;
    border-radius: 0.5rem;
    color: #FBFAF8;
    font-weight: bold;
}
.space--hizmet{
    box-sizing: content-box;
    text-align: center;
    height: 5vh;
    margin-top: 1.5rem;
}
.paraf-hizmet{
    font-size: xx-large;
}

.container--selector-list-element i{
    color: #A4031F;
}
/* 4. CONTAİNER */
.container--callme{
 height: 130vh;
 display: grid;
 grid-template-columns: auto auto auto auto;
 gap:1rem;
 padding: 5rem;
 
}
.main__container-element{
    height: 50vh;
    width: 40vh;
    border-radius: 1rem;
    padding: 1rem;
    background-color: whitesmoke;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow:  0 0px 8px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main__container-element figcaption{
    font-size: small;
    color: gray;
}
.main__container-element img{
  height: 30vh;
  border-radius: 1rem;
  margin-top: 1rem;
}
.main__container-element-btn{
    font-weight: bold;
    padding: 0.7rem 2rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border: 2px solid #5DB7DE;
    color: #5DB7DE;
    background-color: whitesmoke;
    font-weight: bold;
}
.main__container-element-btn:hover{
    background-color: #5DB7DE;
    color: whitesmoke;
}
.main__container-element figcaption{
    margin-top: 0.5rem;
}
/* 5. CONTAİNER */
.container--last{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__container-form{
 padding: 0rem 4rem;
 background-color: #4484ce;
 margin: 1rem;
 border-radius: 1rem;
}
.container--last form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type=text], select {
    width: 70vh;
    padding: 12px 20px;
    margin: 1rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 20vh;
    background-color: white;
    color: #4484ce;
    padding: 14px 20px;
    margin: 1rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: darkblue;
  }
  /* Footer */
  .footer{
    background: linear-gradient(#4484ce,#00FFFF)#5DB7DE;
    height: 32vh;
    padding: 2rem;
  }

  .footer__container-row{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    font-size: small;
  }
  .footer--col ul{
    list-style-type: none;
  }
  .footer--col ul li a{
    text-decoration: none;
    color: black;
  }
  .footer--col ul li a:hover{
    color: white;
  }
  .footer--col h2{
    margin-bottom: 1rem;
    color: white;
  }
  .footer--col-follow{
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
  }
  .footer-col-map{
    margin-top: 1rem;
    color: white;
    font-weight: bold;
    color: black;
    display: flex;
    gap: 0.5rem;
  }
  .container--acme{
    text-align: center;
    font-size: x-small;
    margin: 1rem;
    padding: 0.5rem;
    border-top: 1px solid whitesmoke;
    color: white;
  }
 /*İCONS*/
 .icons__wp {
	background: #25d366;
	color: white;
    z-index: 3;
	position: fixed;
	bottom: 20px;
	left: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 25px;
    margin: 1rem;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse_wp;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.icons__tel {
    background-color: rgb(247, 236, 236);
	color: white;
    z-index: 3;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 0;
	height: 0;
	padding: 25px;
    margin: 1rem;
	text-decoration: none;
	border-radius: 50%;
	animation-name: pulse_tel;
	animation-duration: 1.5s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@keyframes pulse_wp {
	0% {
		box-shadow: 0 0 0 0 rgba(11, 201, 81, 0.5);
        font-size: 12px;
        transform: rotateZ(0deg);
	}
    50% {
        font-size: 18px;
        transform: rotateZ(5deg);
    }
	70% {
		box-shadow: 0 0 0 20px rgba(0, 63, 23, 0);
        font-size: 22px;
        transform: rotateZ(10deg);
	}
    100%{
        font-size: 18px;
        transform: rotateZ(5deg);
    }
}
@keyframes pulse_tel {
	0% {
		box-shadow: 0 0 0 0 rgba(235, 15, 15, 0.5);
        font-size: 12px;
        transform: rotateZ(0deg);
	}
    50% {
        font-size: 18px;
        transform: rotateZ(5deg);
    }
	70% {
		box-shadow: 0 0 0 20px rgba(149, 29, 2, 0);
        font-size: 22px;
        transform: rotateZ(10deg);
	}
    100%{
        font-size: 18px;
        transform: rotateZ(5deg);
    }
}

.container--comment{
    height: 80vh;
    padding: 0 20%;
}
.space-contact{
    height: 15vh;
    padding-top: 3rem;
}
.space-contact h1{
    text-align: center;
    color: rgb(47, 148, 243);
}




